body {
    background-color: rgba(0, 0, 0, 0.904);
    text-align: center;
} h1 {
    text-align: center;
    font: bold 40px Arial;
    color: white;
    
    
} img {
    width: 18%;
    height: 18%;
    
} #canal {
    font: bold 20px Arial;
    color: white;
    text-decoration: none;
}